*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
      background-image: url("C:/Users/harsh/OneDrive/Desktop/weather/website.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width:100%;
      font-family: "Nunito",sans-serif;
  }
  
  .input{
    text-align: center;
    margin: 100px auto;
  }
  
  input[type="submit"]{
    padding: 15px 30px;
    background:cornsilk;
    border: none;
    border-radius: 1px;
    font-family: "Nunito",sans-serif;
    font-weight:bold;
    font-size: 20px;
  }
  
  .input input[type="text"]{
    width: 600px;
    height: 55px;
    padding: 5px 10px;
    background: cornsilk;
    border: none;
    border-radius: 1px;
    font-family: "Nunito",sans-serif;
    font-weight:bold;
    font-size: 20px;
  }
  
  
  
  
  .close{
    float: right;
    margin-top: -2px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .card h1{
    padding: 5px 0;
    text-align: center;
    color: cornsilk;
  }
  
  .card p{
    text-align: center;
    margin:40px 0;
    font-size:20px;
    color: cornsilk;
  }